.am-topbar a.am-btn {
  color: #fff;
}
body,
html {
  height: 100%;
}
.main-body {
  height: calc(100% - 80px);
  overflow-y: auto;
}
@media print {
  .main-body {
    overflow-y: visible;
  }
  a {
    text-decoration: none;
  }
}
@media screen and (min-width: 960px) {
  .main-body .main-content {
    min-height: 100%;
    position: relative;
    padding-bottom: 50px;
    box-sizing: border-box;
  }
  .main-body .main-content .main-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 0 0;
    text-align: center;
  }
}
@media screen and (max-width: 959px) {
  .main-body .main-content {
    min-height: 100%;
    position: relative;
    padding-bottom: 0px;
    box-sizing: border-box;
  }
  .main-body .main-content .main-footer {
    width: 100%;
    padding: 0px 0;
    text-align: center;
  }
}
.am-container {
  max-width: 1300px;
}
textarea {
  resize: none;
}
#postform {
  font-size: 1.4rem;
}
#postform label {
  font-size: 1.6rem;
}
#postform label small {
  color: #999;
  font-weight: 500;
}
.am-pagination > li > a,
.am-pagination > li > span {
  padding: .3em 0.6em;
}
.footer {
  height: 120px;
  padding: 11px 19px;
  padding-bottom: 0;
  margin-bottom: -30px;
  margin-top: 20px;
}
.footer p {
  color: #7f8c8d;
  margin: 0;
  padding: 15px 0;
  text-align: center;
}
table.am-table tr.am-secondary,
table.am-table td.am-secondary {
  color: #5eb95e;
  background-color: rgba(94, 185, 94, 0.115);
}

.news-icon{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 22px;
  display: inline-block;
  line-height: 50px;
  vertical-align: top;
}

ul.newsticker{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  /*margin: 0px;*/
  padding: 0px;
  display: inline-block;
  line-height: 22px;
  /*vertical-align:text-top;*/
  /*position: absolute;*/
}

div.am-news-voice{
  /*margin-left: 10px;*/
  margin-right: 10px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  vertical-align: top;
}

.asele{
  min-width: 114px; 
  height: 40px; 
  font:16px/34px "微软雅黑";
  background-color: rgb(0,124,250);
  border: 1px solid rgb(0,124,250);
  color: #fff;
  display: inline-block;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  text-decoration: none;
  text-align: center;
  vertical-align: top;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  *white-space: nowrap;
  _overflow-y: hidden; 
}

.asele:hover{ 
  background-color: rgb(0,124,250) 
  border: 1px solid rgb(0,124,250);
  color: #fff;
}

.asele:active{ 
  background-color: rgb(0,124,250); 
  border: 1px solid rgb(0,124,250);
}

.anosele{ 
  min-width: 114px; 
  height: 40px; 
  font:16px/34px "微软雅黑";
  border:1px solid #aeb2b7;
  color: #767d85; 
  display: inline-block;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  text-decoration: none;
  text-align: center;
  vertical-align: top;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  *white-space: nowrap;
  _overflow-y: hidden; 
}

.anosele:hover{ 
  border: 1px solid #dbdbdb; 
  color: #9fa0a1;
}

.yearsele{
  float: right;
  display:block;
  padding:.5em 1em .5em .5em;
  font-size:1.6rem;
  line-height:1.2;
  color:#555;
  vertical-align:middle;
  background-color:#fff;
  background-image:none;
  border:1px solid #ccc;
  border-radius:0;
  -webkit-appearance:none;
  -webkit-transition:border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition:border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  -webkit-appearance:none!important;
  -moz-appearance:none!important;
  -webkit-border-radius:0;
  background:#fff url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+) no-repeat 100% center;
  background-color:#fefffe;
  border-color:#3bb4f2;
  outline:0;
  -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 5px rgba(59,180,242,.3);
  box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 5px rgba(59,180,242,.3)
}

.monthsele{
  margin-left:15px;
  float: right;
  display:block;
  padding:.5em;
  font-size:1.6rem;
  line-height:1.2;
  color:#555;
  vertical-align:middle;
  background-color:#fff;
  background-image:none;
  border:1px solid #ccc;
  border-radius:0;
  -webkit-appearance:none;
  -webkit-transition:border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition:border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  -webkit-appearance:none!important;
  -moz-appearance:none!important;
  -webkit-border-radius:0;
  background:#fff url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+) no-repeat 100% center;
  background-color:#fefffe;
  border-color:#3bb4f2;
  outline:0;
  -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 5px rgba(59,180,242,.3);
  box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 5px rgba(59,180,242,.3)
}

.reporta{
  float: right;
  cursor: pointer;
}

.reportdiv{
  display: none;
  background: rgba(189,189,189,0.45);
  position: absolute;
  text-align: center;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 1001;
  margin: 0 auto;
}

.reportresult{
  background-color:#fff;
  text-align: center;
  z-index: 1002;
  width: 30%;
  margin: 10%  auto;
  padding:20px 20px 50px 20px;
}

.reportselect{
  width: 100%;
  padding: 5px 0 5px 10px;
}

.reporttext{
  width: 100%;
  height: 100px;
}

.reportbutton{
  float:right;
  background-color: rgb(59,180,242);
  color: #fff;
  margin-left:15px;
}

.reportbutton:hover{
  background-color: rgb(13,136,198);
}

.calbutton{
  float: right;
  background-color: #fff;
}

/*div.am-news-voice span{
  vertical-align:text-button;
  position: absolute;
}*/
